<div class="card border-0 shadow rounded-3">
    <div class="card-body p-4 p-sm-5">
        <h2 class="my-3 text-danger text-uppercase">Giới thiệu về FPT Polytechnic</h2>
        <img src="../images/banner2.png" width="100%" alt="">
        <br><br>
        <p>
            Hệ Cao đẳng thực hành thuộc Đại học FPT, còn gọi là FPT Polytechnic, được thực hiện đào tạo và cấp bằng Cao
            đẳng
            nghề theo Quyết định của Tổng cục dạy nghề bắt đầu từ ngày 01/07/2010. Trường hướng tới mục tiêu cung cấp kỹ
            năng
            nghề nghiệp chất lượng cao cho người học, đảm bảo được tính cạnh tranh trong môi trường phát triển ngày càng
            cao.
            <br><br>
            Với nhận định nền kinh tế Việt Nam đang phát triển mạnh mẽ trong đó có sự đóng góp to lớn từ trên 500.000
            doanh
            nghiệp vừa và nhỏ với từ 10 đến 200 nhân viên. FPT Polytechnic nhắm tới mục tiêu cung cấp nguồn nhân lực
            được đào
            tạo tốt cho nhu cầu phát triển của không chỉ các doanh nghiệp lớn mà còn cho các doanh nghiệp này.
            <br><br>
            Hướng tới người học chung trên toàn Việt Nam, chương trình cao đẳng thực hành của trường được thiết kế dựa
            trên
            những kỹ năng thiết yếu nhất để làm việc và tương thích với các hệ thống đào tạo tiên tiến trên thế giới.
        </p>
        <br>
        <div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.8639810443356!2d105.74459841485445!3d21.038127785993236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1654016766458!5m2!1svi!2s"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>
</div>