<div class="card border-0 shadow rounded-3">
    <div class="card-body p-4 p-sm-5">
        <form ng-controller="changepass">
            <h3 class="mb-4 text-center">Đổi mật khẩu</h3>
            <div class="input-group mb-3 border">
                <span class="input-group-text px-4 bg-white border-0" id="basic-addon1"><i
                        class="fa-solid fa-lock fs-5"></i></span>
                <input type="text" class="form-control py-3 border-0" placeholder="Mật khẩu cũ" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 border">
                <span class="input-group-text px-4 bg-white border-0" id="basic-addon1"><i
                        class="fa-solid fa-lock fs-5"></i></span>
                <input type="text" class="form-control py-3 border-0" placeholder="Mật khẩu mới" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 border">
                <span class="input-group-text px-4 bg-white border-0" id="basic-addon1"><i
                        class="fa-solid fa-lock fs-5"></i></span>
                <input type="text" class="form-control py-3 border-0" placeholder="Nhập lại mật khẩu" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold py-2" type="submit">Đổi mật khẩu</button>
            </div>
        </form>
    </div>
</div>