<div class="card border-0 shadow rounded-3">
    <div class="card-body p-4 p-sm-5">
        <h3 class="text-danger text-uppercase mb-3">Cơ sở đào tạo tại Hà Nội</h3>
        <p><strong>Địa chỉ:</strong> Tòa nhà FPT Polytechnic, phố Trịnh Văn Bô, phường Phương Canh, quận Nam Từ Liêm, TP
            Hà Nội
        </p>
        <p><strong>Điện thoại liên hệ Phòng Tư vấn tuyển sinh:</strong>
        <ul>
            <li>Tư vấn 1: (024) 8582 0808</li>
            <li>Tư vấn 2: (024) 6684 0713</li>
            <li>Tư vấn 3: 0988 866 377</li>
        </ul>
        </p>
        <p><strong>Email phòng tuyển sinh: caodangfpt.hn@fpt.edu.vn</strong></p>
        <p>Thông tin liên hệ các phòng ban khác:</p>

        <p>Phòng Dịch vụ sinh viên: (024) 7300 1955 – Email: dvsvpoly.hn@poly.edu.vn</p>

        <p>Phòng Giáo vụ Đào tạo: (024) 7300 1955 – Nhánh số 2 hoặc (024) 6259 4013 – Email: daotaopoly.hn@fe.edu.vn</p>

        <p>Phòng Hành chính – Kế toán: (024) 7300 1955 – Nhánh số 3 hoặc (024) 6327 6306 – (024) 6682 2713 – (024) 6327
            6305 –
            Email: hanhchinhpoly.hn@poly.edu.vn</p>

        <p>Phòng Quan hệ doanh nghiệp: (024) 7300 1955 – Nhánh số 4 – Email: qhdn.poly@fpt.edu.vn</p>

        <p>Phòng Công tác sinh viên: (024) 6260 4013 – Email: ctsvpoly.hn@fe.edu.vn</p>

        <div><a href=""><img src="../images/FPT_Polytechnic_Hanoi.jpg" width="100%" alt=""></a></div>
    </div>
</div>