<div class="card border-0 shadow rounded-3">
  <div class="card-body p-4 p-sm-5">
    <div class="accordion">
      <h3 class="mb-3">Câu hỏi thường gặp</h3>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
            FPT Polytechnic là gì?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>Trường Cao đẳng FPT Polytechnic là trường Cao đẳng trực thuộc Tổ chức Giáo dục FPT (FPT
              Education)</strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
            Hoàn thành khóa học của FPT Polytechnic sẽ được nhận bằng cấp gì?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>Sinh viên khi hoàn thành khóa học 7 học kỳ (2 năm 4 tháng không có nghỉ hè) của FPT Polytechnic sinh
              viên sẽ nhận bằng Cao đẳng chính quy tập trung do Trường Cao đẳng FPT Polytechnic cấp theo quy định của Tổng
              cục dạy nghề, Bộ Lao động thương binh và xã hội.</strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree">
            Trường đào tạo theo phương pháp “project-based-training”, đó là gì vậy?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>
              “Project- based-training” hay “đào tạo theo dự án” là phương pháp đào tạo tiên tiến dựa trên thực tiễn. Theo
              đó, sinh viên sẽ được biết mục đích học tập của mỗi môn học (case study), học kỳ (project) tại đầu môn học.
              Quá trình học tập là quá trình tìm tòi, học hỏi để giải quyết vấn đề. Phương pháp này khác với các phương pháp
              thụ động tiếp thu để cuối cùng mới biết mình sẽ giải quyết vấn đề gì. Phương pháp đào tạo theo dự án nhằm làm
              tăng tính trải nghiệm dựa trên mô phỏng thực tế công việc.
            </strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">
            Giáo trình, tài liệu học tập và phòng thực hành của trường được sử dụng như thế nào?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>
              Sách giáo trình của trường được xây dựng dựa trên sự hợp tác với các nhà xuất bản uy tín như McGraw Hill,
              Pearson, Wiley… Sinh viên cần mua sách để học tập vào đầu mỗi học kỳ theo giá ưu đãi. Ngoài ra, các sách tham
              khảo sinh viên có thể đọc tại thư viện.
    
              Trường có phòng máy thực hành để hỗ trợ học tập cho sinh viên theo giờ học chính khóa. Nếu phòng máy rảnh,
              sinh viên có thể đăng ký để sử dụng máy tính ngoài giờ hoàn toàn miễn phí.
            </strong>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>