<div class="card border-0 shadow rounded-3">
    <div class="card-body p-4 p-sm-5">
        <form>
            <h3 class="mb-4">Giúp chúng tôi cải thiện tốt hơn</h3>
            <div class="input-group mb-3 border">
                <span class="input-group-text px-4 bg-white border-0" id="basic-addon1"><i
                        class="fa-solid fa-user fs-4"></i></span>
                <input type="text" class="form-control py-3 border-0" placeholder="Họ và tên">
            </div>
            <div class="input-group mb-3 border">
                <span class="input-group-text px-4 bg-white border-0" id="basic-addon1"><i
                        class="fa-solid fa-envelope fs-4"></i></span>
                <input type="text" class="form-control py-3 border-0" placeholder="Địa chỉ email">
            </div>
            <div class="input-group mb-3 border">
                <span class="input-group-text px-4 bg-white border-0" id="basic-addon1"><i
                        class="fa-solid fa-phone fs-4"></i></span>
                <input type="text" class="form-control py-3 border-0" placeholder="Số điện thoại">
            </div>
            <div class="mb-4">
                <textarea class="form-control" rows="5"></textarea>
            </div>
            <div class="text-center">
                <button class="btn btn-primary fw-bold py-3 px-5 p-0 rounded" type="submit">
                    Xác nhận
                </button>
            </div>
        </form>
    </div>
</div>