<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Training</title>
    <link rel="icon"
        href="https://th.bing.com/th/id/R.bd1ddcf20243b5366e14524b6b79c773?rik=LLyglFicscivVg&pid=ImgRaw&r=0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/style.css">
</head>
<body ng-app="myapp">
    <div class="container" ng-controller="main">
        <header>
            <div>
                <a href="#subject"><img src="../images/banner.png" alt="" class="w-100"></a>
            </div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid fw-bold mx-4">
                    <a class="navbar-brand text-uppercase" href="#subject">FPT Polytechnic</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-lg-0" ng-controller="activeLink">
                            <li ng-class="{ active: isActive('/about')}" class="nav-item">
                                <a class="nav-link" href="#about">Giới thiệu</a>
                            </li>
                            <li ng-class="{ active: isActive('/contact')}" class="nav-item">
                                <a class="nav-link" href="#contact">Liên
                                    hệ</a>
                            </li>
                            <li ng-class="{ active: isActive('/feedback')}" class="nav-item">
                                <a class="nav-link" href="#feedback">Góp ý</a>
                            </li>
                            <li ng-class="{ active: isActive('/faq')}" class="nav-item">
                                <a class="nav-link" href="#faq">Hỏi đáp</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                    {{welcome}}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                                    <div ng-if="!isLogin">
                                        <li><a class="dropdown-item" href="#register">Đăng ký</a></li>
                                        <li><a class="dropdown-item" href="#login">Đăng nhập</a></li>
                                        <li><a class="dropdown-item" href="#forgot">Quên mật khẩu</a></li>
                                    </div>
                                    <div ng-if="isLogin">
                                        <li><a class="dropdown-item" href="" ng-click="onLogout()">Đăng xuất</a></li>
                                        <li><a class="dropdown-item" href="#changepass">Đổi mật khẩu</a></li>
                                        <li><a class="dropdown-item" href="#profile">Cập nhật tài khoản</a></li>
                                        <li><a class="dropdown-item" href="#history" ng-if="isLogin == true">Quản lý
                                                lịch sử thi</a></li>
                                        <div ng-if="student.role == true">
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="#account">Quản lý tài khoản</a></li>
                                            <li><a class="dropdown-item" href="#m_quizz">Quản lý câu hỏi</a></li>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        
        <main class="my-3">
            <div class="row" style="overflow: hidden;">
                <article class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 mb-3" ng-view>
                </article>

                <aside class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                    <div class="accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#subject">
                                    <i class="fa-solid fa-bars px-2"></i>
                                    Danh mục môn học
                                </button>
                            </h2>
                            <div id="subject" class="accordion-collapse collapse show px-2" ng-controller="category">
                                <div class="accordion-body p-0">
                                    <div class="list-group">
                                        <a ng-repeat="s in subjects" href=""
                                            class="list-group-item border-0 border-bottom py-3" ng-bind="s.Name"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </main>

        <footer>
            <div class="list-group text-center">
                <p class="list-group-item p-3">FPT Polytechnic &copy; 2017. All rights reserved.</p>
            </div>
        </footer>
    </div>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-route.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.js"></script>

</body>
</html>